<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h3>Contact</h3>
    <div>
        <p>Name: {{ message }}</p>
        <input v-model="message" placeholder="edit me">
        <p>Surname: {{ message }}</p>
        <input v-model="message" placeholder="edit me">
        <p>Number {{ message }}</p>
        <input v-model="message" placeholder="edit me">
    </div>
     <button class="Button">
  <slot>Add a contact</slot>
</button> 
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
